
:where([class^="ri-"])::before { content: "\f3c2"; }
body {
font-family: 'Poppins', sans-serif;
background-color: #FAFAFA;
}
h1, h2, h3, h4, h5 {
font-family: 'Playfair Display', serif;
}
.logo {
font-family: 'Pacifico', serif;
}
input, textarea {
outline: none;
transition: all 0.2s;
}
input:focus, textarea:focus {
border-color: #967259;
}